@media all and (min-width: 1050px) {
	.city {
	    float: left;
	    width: 25%;
	}
}

@media all and (max-width: 1049px) {
	.city {
	    float: left;
	    width: 33%;
	}
}

@media all and (max-width: 800px) {
	.city {
	    float: left;
	    width: 50%;
	}
}

@media all and (max-width: 500px) {
	.city {
	    float: left;
	    width: 100%;
	}
}